
@font-face {
    font-family: 'merck';
    src: url('/fonts/Merck.otf');
}

#PassoApasso{

background-color: white;

}
.mostrarRadio{

  margin-left: 40px;
}
.row label {

color:  #13bed0;

}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #522e92 inset;
    color: white;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}


#Autorizo{

background-color: #13bed0;

}


.last-letter{

color: #ffc90d;

}

.aceita p{
color: #522e92;
font-size:14px; 
font-weight: 500;
}
.aceita1 p{
color: #522e92;
font-size:14px; 
font-weight: 500;
  margin-top: -20px;
}

.aceita2 p{
color: #522e92;
    margin-top: -20px;
    font-size:14px; 
font-weight: 500;
}

input:not(:focus) {
  color: white;
  background-color:#522e92;
}
.row input{

border-color: #12bdd0;

  border-width: 1.5px;
color: white;
border-radius: 7px;
background-color:#522e92;
}

.row input:focus {
    background-color: #522e92;
    color: white;
}
.row select{

  border-color: #12bdd0;

  border-width: 1.5px;
color:white;
border-radius: 7px;
background-color:#522e92;1'
}




.bg-color
{

background-color: #12bdd0;
  background-size: cover;
   

}


.row select{
 color: white;

}

.row select ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}

.row ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.row ::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
.row :-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.row :-moz-placeholder { /* Firefox 18- */
  color: white;
}

.Autorizo{
color:#522e92;
margin-top: 40px;
font-family: 'merck';
font-size: 30px;

}
body {
 width: 100%;

background-color: #12bdd0;

}
#Autorizo {

padding-bottom: 50px;
  
}
.cadastro1{
color:#12bdd0;
font-family: 'merck';
font-size: 120px;
}

#botao{
margin-top: 40px;
margin-left: 30px;
border-radius: 6px;
background-color: #5c2791;
width: 120px;

}
.row .btnMensagem{
margin-top: 10px;
margin-left: 50px;
border-radius: 6px;
background-color: #13bed0;
width: 120px;
}


.cadastro2{

  margin-top: -40px;
    
  color:#12bdd0;
  font-family: 'merck';
  font-size: 75px;
}



#mainNav {
  background-color: black;
  margin-left: -150px;
  margin-top: -20px
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #fed136;
  font-family: 'Arial';
}

#mainNav .navbar-brand {
  color: #12bdd0;
  font-family: 'merck';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Arial';
  color: black;
  font-weight: 900;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }


.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
}


.pacientes{

 -webkit-transform: skew(-10deg); /* Chrome, Opera */
      -ms-transform: skew(-10deg); /* IE */
          transform: skew(-10deg);

}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

span{
  font-size: 40px;
  font-family: 'merck';
  font-weight:900; 
color:#502d8e;

}
.centered {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

